body{
    text-align: center;
    height: 100vw;
}
.top{
    text-align: center;
    position: relative;
    height: 6vw;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.97);
}
.heding{
    color: white;
    font-size: 3vw;
    position: relative;
    top: 15%;
    margin-right: 74%;
    font-family: 'Neucha', cursive;
}
.middle{
    position: relative;
    height: 70vw;
    width: 100%;
    top: 10vw;
    left: 50px;
}
.eventdat{
    position: relative;
    width: 10vw;
    height: 3vw;
    font-size: 1.5vw;
    top: 10%;
    right: 3.5vw;
}
.eventdat1{
    position: relative;
    left: 5vw;
}
.select1{
    position: relative;
    left: 2vw;
    margin-top: 2vw;
}

.chooseaday{
    position: relative;
    height: 3vw;
    width: 10vw;
    font-size: 1.5vw;
    right: 5vw;
    margin-top: 2vw;
}
.chooseaevent{
    position: relative;
    height: 3vw;
    width: 12vw;
    font-size: 1.5vw;
    right: 4.5vw;
    margin-top: 2vw;
}
.select2{
    position: relative;
    left: 0.9vw;
    margin-top: 2vw;
}
.nooftable{
    position: relative;
    width: 10vw;
    height: 3vw;
    font-size: 1.5vw;
    top: 10%;
    right: 2vw;
    margin-top: 2vw;
}
.nooftable1{
    position: relative;
    left: 4vw;
    margin-top: 2vw;
}